mat-toolbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

mat-sidenav-container {
  height: 100%;
  position: fixed;
  overflow: hidden;
}

mat-sidenav {
  padding-top: 85px;
  width: 350px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

mat-sidenav-content {
  padding: 1rem;
}

mat-nav-list a {
  font-size: 30px;
  margin-bottom: 50px;
}

.content {
  height: 100%;
  overflow: auto;
  padding-bottom: 100px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

@media (min-width: 768px) {
  .content {
    padding-left: 200px !important;
    padding-right: 200px !important;
  }
}
